
<% if(!showModalNewConfig && configuration!= '') { %>

<style>
	.list-group .icone{
		float:right;
	}
	.list-group a:hover{
		background-color:#EFEFEF;
	}
	.noMarginTop{
		margin-top: 5px;
	}
	.titrePage 
	{
		border-bottom: 1px solid #DDDDDD;
	}
	.emotions 
	{
		border-right: 1px solid #DDDDDD;
	}


#wrapper {
    width:145px;
    height:310px;
    overflow:hidden;
    border: 1px solid #0CF;
    position: relative;
	margin:0 auto 0 auto;
}
#scroller {
    cursor: pointer;
    
	float:left;
}
#scroller .slide {
    display:block;
    float:left;
}



</style>
<div class="page-header noMarginTop">
    <div class="row">
        <div class="col-xs-10">
            <h1 class="noMarginTop"><span class="glyphicon glyphicon-gift"></span> Configuration  : <b  id="editConfigTitre" 
	class="editable" 
	data-type="text" 
	data-placement="bottom"
	data-title='!!! Cette modification peut comporter des risques. !!!'
	data-params="{id:'<%= configuration.ID %>',action: 'editConfig',edit: 'editConfigTitre'}" 
	data-pk="<%= configuration.ID %>" 
	data-defaultValue="<%= configuration.titre %>"
	
><%= configuration.titre %></b> <br><small>
<span id="editConfigDescription" 
	class="editable" 
	data-type="textarea" 
	data-placement="bottom"
	data-params="{id:'<%= configuration.ID %>',action: 'editConfig',edit: 'editConfigDescription'}" 
	data-pk="<%= configuration.description %>" 
	data-emptytext="Pas de description."><%= configuration.description %></span></small></h1>
        </div>
        <div class="col-xs-2">
            <a href="listeConfigurations" type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
        </div>
    </div>
</div>


<script>
	
$(document).ready(function() {
	$('#editConfigTitre').on('init', function(e, editable) {
    // alert('initialized ' + editable.options.name);
    console.log(editable);
});
});

</script>

<!-- 

<h3 class="noMarginTop titrePage">
Configuration : 
<b  id="editConfigTitre" 
	class="editable" 
	data-type="text" 
	data-placement="bottom"
	data-params="{id:'<%= configuration.ID %>',action: 'editConfig',edit: 'editConfigTitre'}" 
	data-pk="<%= configuration.ID %>" 
	data-defaultValue="<%= configuration.titre %>"
	
><%= configuration.titre %></b> <br><small>
<span id="editConfigDescription" 
	class="editable" 
	data-type="textarea" 
	data-placement="bottom"
	data-params="{id:'<%= configuration.ID %>',action: 'editConfig',edit: 'editConfigDescription'}" 
	data-pk="<%= configuration.description %>" 
	data-emptytext="Pas de description."><%= configuration.description %></span></small></h3> -->


<div class="row">
	<div class="col-xs-6 emotions">
		<h3 class="noMarginTop">Les émotions :
		<button type="button" class="btn btn-primary btn-sm" onclick="$('#newEmotionModal').modal('toggle')"><span class="glyphicon glyphicon-plus"></span> Ajouter</button></h3>

		<div class="list-group">
			<% for(var i=0; i<configuration.emotions.length; i++) { %>
			<a href="/configuration?action=editConfig&id=<%= configuration.ID %>&showEmotion=<%= configuration.emotions[i].ID %>" class="list-group-item <%=  ( configuration.emotions[i].ID == showEmotion ? "active" : "") %>">
				<h4 class="list-group-item-heading"><%= configuration.emotions[i].nom %><p class="icone"><span class="glyphicon glyphicon-chevron-right"></span></p></h4>
    				<p class="list-group-item-text"><%= configuration.emotions[i].description %> </p>
    			
			</a>
			<% } %>
		</div>
	</div>
	<div class="col-xs-6">
	<% if(showEmotion) { %>
		<% emotion = configuration.getEmotion(showEmotion) %>
		<h3 class="noMarginTop"><b><%= emotion.nom %></b><br><small>
		<span id="editEmotionDescription" 
	class="editable" 
	data-type="textarea" 
	data-placement="bottom"
	data-params="{id:'<%= configuration.ID %>',action: 'editConfig',edit: 'editEmotionDescription',emotionID:'<%= emotion.ID %>'}" 
	data-pk="<%= emotion.description %>" 
	data-emptytext="Pas de description."><%= emotion.description %></span></small></h3>

		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-xs active" id="vieListe"><span class="glyphicon glyphicon-list"></span> Liste</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-xs" id="vueApercu"><span class="glyphicon glyphicon-film"></span> Aperçu</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-xs" onclick="$('#newAvatarModal').modal('toggle')"><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
			</div>
			<div class="btn-group">
				<a href="/configuration?action=supprEmotion&id=<%= configuration.ID %>&showEmotion=<%= showEmotion %>" 
				onclick="return confirm('Voulez-vous vraiment supprimer l\'émotion <%= emotion.nom %> ?')" 
							type="button" 
							class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
			</div>

		</div>
		<br>
		<div id="vuelisteDiv">
			<div class="panel-group" id="accordion">
				<% for(var i=0; i<emotion.avatars.length; i++) { %>
				<div class="panel panel-default">
					<div class="panel-heading row">
						<h4 class="panel-title col-xs-8">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= emotion.avatars[i].ID %>">
								<%= emotion.avatars[i].nom %>
							</a>
						</h4>
						<div class="btn-group col-xs-4">
							<a href="configuration?action=editConfig&id=<%= configuration.ID %>&edit=editAvatarUp&showEmotion=<%= showEmotion %>&avatarID=<%= emotion.avatars[i].ID %>" 
							type="button" 
							class="btn btn-default btn-xs"
							<%= (i == 0) ? "disabled='disabled'" : "" %>
							><span class="glyphicon glyphicon-arrow-up"></span></a>
							<a href="configuration?action=editConfig&id=<%= configuration.ID %>&edit=editAvatarDown&showEmotion=<%= showEmotion %>&avatarID=<%= emotion.avatars[i].ID %>" 
							type="button" 
							class="btn btn-default btn-xs"
							<%= (i+1 == emotion.avatars.length) ? "disabled='disabled'" : "" %>
							><span class="glyphicon glyphicon-arrow-down"></span></a>
							<a href="configuration?action=editConfig&id=<%= configuration.ID %>&edit=supprAvatar&showEmotion=<%= showEmotion %>&avatarID=<%= emotion.avatars[i].ID %>" 
							onclick="return confirm('Voulez vous vraiment supprimer l\'avatar <%= emotion.avatars[i].nom %> ?')" 
							type="button" 
							class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
						</div>
					</div>
					<div id="collapse_<%= emotion.avatars[i].ID %>" class="panel-collapse collapse">
						<div class="panel-body">
							<img src="CONFIG/<%= configuration.ID %>/emotions/<%= emotion.avatars[i].img %>" alt="<%= emotion.avatars[i].nom %>">
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
		<div id="vueApercuDiv" style="position: relative;">

			<div id="wrapper">
				<div id="scroller">
					<% for(var i=0; i<emotion.avatars.length; i++) { %>
					<div class="slide">
						<img src="CONFIG/<%= configuration.ID %>/emotions/<%= emotion.avatars[i].img %>" id="<%= i %>" value="<%= emotion.avatars[i].ID %>" width="145px" height="310px" alt="<%= emotion.avatars[i].nom %>" class="" >
					</div>
					<% } %>
				</div>
			</div>
		</div>
	<% } %>
	</div>
</div>

<script type="text/javascript">

<% if(showEmotion ) { %>
	
	$(window).load(function() {

		<% if(emotion.avatars.length > 0) { %>
			vertical_scroller = new IScroll('#wrapper', { 
	            scrollbars: true,
	            scrollX: false,
	            scrollY: true,
	            momentum: false,
	            snap: '.slide',//true,
	            mouseWheel: true, 
	            click: true,
	            // snapSpeed: 310,
	            // keyBindings: true,
	        });

	       <% } %>
	 		$('#vueApercuDiv').slideUp('fast');
	});
	
<% } %>

$(document).ready(function () {
    $('.editable').editable({
        url: '/configuration',
        success :function(response, newValue) {
        	console.log(response);
        	if(response.refresh){
        		window.location.href = 'configuration?action=editConfig&id='+response.configurationID+'&showEmotion=<%= showEmotion %>'; 
        	}
        	// 
        },
        error: function(response, newValue) {
        	if(response.status === 500) {
        		console.log(response);
        		return response.responseJSON.error;
        	}
        }
    });






<% if(showEmotion) { %>
    function vueListeApercu (vue) {
    	if(vue == "liste") 
    	{
    		$('#vueApercu').removeClass('active');
    		$('#vieListe').addClass('active');

    		$('#vueApercuDiv').slideUp('fast');
    		$('#vuelisteDiv').slideDown('fast');
    	} else if (vue == 'apercu') {
    		$('#vieListe').removeClass('active');
    		$('#vueApercu').addClass('active');

    		$('#vuelisteDiv').slideUp('fast');
    		$('#vueApercuDiv').slideDown('fast');

    	}
    }

 //    $(document).on('click','#vieListe', function(event) {
 //    	vueListeApercu('liste');
 //    });
 //    $(document).on('click','#vueApercu', function(event) {
	// vueListeApercu('apercu');
 //    });

    $('#vueApercu').click(function() {
    	vueListeApercu('apercu');
    });

     $('#vieListe').click(function() {
    	vueListeApercu('liste');
    });
<% } %>
});




</script>

<!-- Modal nouvelle emotion-->
<div class="modal" id="newEmotionModal" tabindex="-1" role="dialog" aria-labelledby="NewEmotionModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            <form action="/configuration" method="get" role="form" enctype="multipart/form-data">
				<input type="text" class="hidden" name="action" value="newEmotion">
				<input type="text" class="hidden" name="id" value="<%= configuration.ID %>">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="NewEmotionModalLabel">Nouvelle émotion</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="nomEmotionInput">Nom de l'émotion</label>
						<input name="nomEmotion" type="text" class="form-control" id="nomEmotionInput" placeholder="Entrer nom">
					</div>

					<div class="form-group">
						<label for="descriptionEmotionInput">Commentaire</label>
						<textarea name="descriptionEmotion" class="form-control" rows="3" id="descriptionEmotionInput"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary" onclick="$('#newEmotionModal').modal('hide');$('form').submit();">Créer</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Modal ajout avatar-->
<div class="modal" id="newAvatarModal" tabindex="-1" role="dialog" aria-labelledby="newAvatarModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            <form action="/configuration" method="post" role="form" enctype="multipart/form-data">
				<input type="text" class="hidden" name="action" value="editConfig">
				<input type="text" class="hidden" name="edit" value="newAvatar">
				<input type="text" class="hidden" name="id" value="<%= configuration.ID %>">
				<input type="text" class="hidden" name="showEmotion" value="<%= showEmotion %>">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="newAvatarModalLabel">Nouvel Avatar</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="nomAvatarInput">Nom de l'avatar</label>
						<input name="nomAvatar" type="text" class="form-control" id="nomAvatarInput" placeholder="Entrer nom">
					</div>
					<div class="form-group">
                        <label for="imageInputFile">Image de l'avatar</label>
                        <input name="imageAvatar" type="file" id="imageInputFile" accept="image/*">
                        <p class="help-block">Image de type : png, jpg, jpeg</p>
                    </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary" onclick="$('#newAvatarModal').modal('hide');$('form').submit();">Créer</button>
				</div>
			</form>
		</div>
	</div>
</div>






<% } %>





<% if(showModalNewConfig) { %>
<!-- Modal nouvelle config-->
<div class="modal" id="NewConfigModal" tabindex="-1" role="dialog" aria-labelledby="NewConfigModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            <form action="/configuration" method="get" role="form" enctype="multipart/form-data">
				<input type="text" class="hidden" name="action" value="newConfig">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="NewConfigModalLabel">Nouvelle Configuration</h4>
				</div>
				<div class="modal-body">

<% if(error) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Warning!</strong> <%= error %>
        </div>
      <% } %>
				
					<div class="form-group">
						<label for="nomConfigInput">Nom de la configuration</label>
						<input name="nomConfig" type="text" class="form-control" id="nomConfigInput" placeholder="Enter nom">
					</div>

					<div class="form-group">
						<label for="descriptionConfigInput">Commentaire</label>
						<textarea name="descriptionConfig" class="form-control" rows="3" id="descriptionConfigInput"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					<button type="submit" class="btn btn-primary" onclick="$('#NewConfigModal').modal('hide');$('form').submit();">Créer</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function () {
			$('#NewConfigModal').modal('show');
		
	});
</script>
<% } %>