
<div class="row">
    <div class="col-md-12 main">
        <img src="public/images/background.png">
        <div class="objEval">
            <img src="public/images/objEval.jpg">
        </div>
        <div class="zoneEval">
        	<div id="horizontal_scroller">
        		<div id="horizontal_container">
        			<div class="null">
        			</div>
        			<div id="wrapper">
        				<div id="scroller">
                        <% for(var i=0; i<emotion.avatars.length; i++) { %>
        					<div class="slide">
                                <img src="EXPERIENCES/<%= experience.ID %>/emotions/<%= emotion.avatars[i].img %>" id="<%= i %>" value="<%= emotion.avatars[i].ID %>" width="145px" alt="<%= emotion.avatars[i].nom %>" class="field" />
        					</div>
                        <% } %>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>


<button type="button" id="terminerEval" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span> Terminer l'évaluation </span></button>


<div id="monitor">Y position: <strong id="position">0</strong>/<strong id="maxPosition">0</strong></div>


<script type="text/javascript">


var vertical_scroller;
var horizontal_scroller;
    
$( window ).load(function() { // pour que le chargement des images soit fait !!!!!!! 


        function curreentAvatar () {
            console.log(vertical_scroller.currentPage.pageY);
        }

        vertical_scroller = new IScroll('#wrapper', { 
            scrollbars: true,
            scrollX: false,
            scrollY: true,
            momentum: false,
            snap: '.slide',//true,
            mouseWheel: true, 
            click: true,
            // snapSpeed: 310,
            // keyBindings: true,
        });
        vertical_scroller.on('scroll', curreentAvatar);
        vertical_scroller.on('scrollEnd', curreentAvatar);
        // console.log(vertical_scroller);
        
        function updatePosition () {
            $("#position").html(this.x>>0);
            $("#maxPosition").html(horizontal_scroller.maxScrollX) ;
            console.log(proximite());
        }
        horizontal_scroller = new IScroll('#horizontal_scroller', {
            probeType: 3,
            startX: 0,
            startY: 0,
            bounce: false,
            scrollX: true,
            scrollY: false,
            momentum: false,
            scrollbars: false,
            snapSpeed: 310,
            lockDirection: true,
           // directionLockThreshold: 20,
           // snap:document.querySelectorAll(".rr")

        });
        horizontal_scroller.on('scroll', updatePosition);
        horizontal_scroller.on('scrollEnd', updatePosition);
        updatePosition();


    });
    document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    function proximite () {
        return 100 - (horizontal_scroller.x * 100 / horizontal_scroller.maxScrollX);
    }
$(document).ready(function() {
    $(document).on('click', '#terminerEval', function(event) {
        endTime = new Date();
        tempsDeReponse = (endTime.getTime() - <%= startTime %>)/1000;
        window.location.href = "newEvaluation?id=<%= participant.ID %>&emotion=<%= emotion.ID %>&avatar="+$('img#'+vertical_scroller.currentPage.pageY).attr('value')+"&proximite="+proximite()+"&tempsDeReponse="+tempsDeReponse;
    });

});


</script>