<style>
    .bottomMargin{
        margin-bottom: 20px;
    }
    .noMarginTop{
        margin-top: 0px;
    }
    .select-inline {
        display: inline-block;
    }
</style>


<div class="page-header noMarginTop">
    <div class="row">
        <div class="col-xs-8">
            <h1 class="noMarginTop"><span class="glyphicon glyphicon-th-large"></span> Evaluations <small><%= experience.nom %></small></h1>
        </div>
        <div class="col-xs-4">
            <a href="experience" type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-book"></span> Fiche de l'expérience</a>
        </div>
    </div>
</div>

<div class="row li-eval">

<% for(var i=0; i<participants.length; i++) {%>

    <div class="btn-group col-xs-3 bottomMargin" data-toggle="tooltip" data-placement="top" title="Voir les informations du participant N° <%= participants[i].numero %>" >
        <a href="evaluations?showParticipant=<%= participants[i].ID %>" type="button" class="btn btn-default  col-xs-9"><span class="glyphicon glyphicon-user" style="float: left;"></span> N° <%= participants[i].numero %></a>
        <button type="button" class="btn btn-info dropdown-toggle col-xs-3" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="expEtape1?id=<%= participants[i].ID %>"><span class="glyphicon glyphicon-play"></span> Lancer une évaluation</a></li>
            <li><a href="evaluations?showParticipant=<%= participants[i].ID %>" onclick="$('#resultats').modal('show');"><span class="glyphicon glyphicon-list-alt"></span> Voir les évaluations</a></li>
            <li class="divider"></li>
            <li><a href="evaluations?showParticipant=<%= participants[i].ID %>&action=supprParticipant" onclick="return confirm('Voulez vous vraiment supprimer le participant N° <%= participants[i].numero %> ?')"><span class="glyphicon glyphicon-trash"></span> Supprimer le participant</a></li>
        </ul>
    </div>

<% } %>




    <div class="col-xs-2">
        <button type="button" class="btn btn-info col-xs-9" data-toggle="tooltip" data-placement="top" title="Ajouter un participant" onclick="$('#newUserModal').modal('show');"><span class="glyphicon glyphicon-plus"/></button>
    </div>


</div>


<!-- Modal New participant-->
    <div class="modal " id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/newParticipant" method="post" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newUserModalLabel">Nouveau participant</h4>
                    </div>
                    <div class="modal-body">



                        <div class="form-group">
                            <label for="numUserInput">Numéro du participant</label>
                            <input name="numUser" type="text" class="form-control" id="numUserInput" placeholder="Numéro du participant">
                        </div>

                        <div class="form-group">
                          <label for="sexeUserRadios">Sexe</label>
                          <div>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="F"> Femme
                            </label>
                            <label>
                              <input type="radio" name="sexeUser" id="sexeUserRadios" value="H"> Homme
                            </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateNaissanceInput">Date de naissance</label>

                            <input type="text" id="dateNaissanceInput" class="form-control" name="dateNaissance" data-format="DD-MM-YYYY" data-template="D / MMMM / YYYY" >
                        </div>

                        <div class="form-group">
                          <label for="lvlEtudeSelect">Plus haut niveau d'étude</label>
                          <select name="lvlEtude" class="form-control" id="lvlEtudeSelect">
                              <option value="bep_cap">BEP / CAP</option>
                              <option value="bac_pro">BAC Pro</option>
                              <option value="bac">BAC</option>
                              <option value="bac2">Bac+2</option>
                              <option value="bac3">Bac+3</option>
                              <option value="bac5">Bac+5</option>
                              <option value="bac8">Bac+8</option>
                          </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#newUserModal').modal('hide');$('form').submit();">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
<% if(showParticipant) { %>
    <!-- Modal Résultats-->
    <div class="modal " id="evaluationsModal" tabindex="-1" role="dialog" aria-labelledby="resultatsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="newUserModalLabel"><span class="glyphicon glyphicon-user"></span> Evaluations du participant n° <b><%= participant.numero %></b></h4>
                    </div>
                    <div class="modal-body row">

                        <div class="col-xs-4 " style="text-align: center;">
                            <span style="font-size: 4em;" class="glyphicon glyphicon-user"></span><br>
                            <h3 class="noMarginTop">N° <b><%= participant.numero %></b></h3>
                        </div>
                        <div id="col-xs-8">
                            <i>Date de naissance : </i><span class="editableDate" 
                                data-type="combodate" 
                                data-placement="bottom"
                                data-params="{action: 'editDateDeNaissance',showParticipant:'<%= participant.ID %>'}" 
                                data-pk="1" 
                                data-value="<%= participant.dateDeNaissance %>"
                                data-defaultValue="<%= participant.dateDeNaissance %>"
                                >
                            </span><br>
                            <i>Sexe du participant : </i><span class="editableSelectSexe" 
                                data-type="select" 
                                data-placement="bottom"
                                data-params="{action: 'editSexe',showParticipant:'<%= participant.ID %>'}" 
                                data-pk="2" 
                                data-value="<%= participant.sexe %>"
                                >
                            </span><br>
                            <i>Plus haut niveau d'étude : </i><span class="editableSelectlvlEtude"
                                data-type="select" 
                                data-placement="bottom"
                                data-params="{action: 'editLvlEtude',showParticipant:'<%= participant.ID %>'}" 
                                data-pk="3" 
                                data-value="<%= participant.lvlEtude %>"
                                >
                            </span>

                        </div>
                        

                        <br>
                      <div class="table-responsive">  
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>

                                                    <th>Emotion</th>
                                                    <th>Proximité</th>
                                                    <th>Intensité</th>
                                                    <th>Durée</th>
                                                    <th>Images</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i<participant.evaluations.length; i++) {%>
                                                <tr>
                                                    <td><%= participant.evaluations[i].emotion %></td>
                                                    <td><%= participant.evaluations[i].proximite %></td>
                                                    <td><%= participant.evaluations[i].avatar %></td>
                                                    <td><%= participant.evaluations[i].tempsDeReponse %></td>
                                                    <td><a href="evaluations?showParticipant=<%= participant.ID %>&action=supprEmotion&value=<%= participant.evaluations[i].ID %>" type="button" id="deleteEvaluation" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" onclick="return confirm('Voulez vous vraiment supprimer l\'évaluation ?')"></span></a></td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table> 
                          </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" onclick="$('#evaluationsModal').modal('hide');">Exporter</button>
                    </div>
            </div>
        </div>
    </div>
<% } %>
<script type="text/javascript">

    $(document).ready(function () {

<% if(showParticipant) { %>
        $('#evaluationsModal').modal('show');

        $.fn.editable.defaults.mode = 'inline';

        moment.lang('fr');
        $('.editableDate').editable({
            url: '/evaluations',
            format: 'DD-MM-YYYY',    
            viewformat: 'DD/MM/YYYY',    
            template: 'D / MMMM / YYYY',    
            combodate: {
                    minYear: 1900,
                    minuteStep: 1
             }

        });
    $('.editableSelectSexe').editable({
        url: '/evaluations',
        source: [
              {value: 'H', text: 'Homme'},
              {value: "F", text: 'Femme'}
           ]
    });
    $('.editableSelectlvlEtude').editable({
        url: '/evaluations',
        source: [
              {value: "bep_cap", text: 'BEP / CAP'},
              {value: 'bac_pro', text: 'BAC Pro'},
              {value: "bac", text: 'BAC'},
              {value: "bac2", text: 'Bac+2'},
              {value: "bac3", text: 'Bac+3'},
              {value: 'bac5', text: 'Bac+5'},
              {value: 'bac8', text: 'Bac+8'}

           ]
    });
<% } %>
    $(function(){
        moment.lang('fr');
        $('#dateNaissanceInput').combodate({
            customClass:"form-control select-inline"
        });    
    });


    });
</script>